:root {




    --background-color: rgba(5, 13, 24, 0.555);




    --fundo-menu-lateral: #270140;
    --fundo-claro: #a6afb4;
    --fundo-escuro: #310944;




    --borda-clara: #5a2170;
    --borda-escura: #30023e;




    --texto-escuro: #4a008a;
    --texto-claro: #ededed;
    --texto-branco: #d2eeff;
    --texto-hover: #502191;
    --texto-opaco: #81888c;




    --cor-detalhes: #2a2a2a;




    --texto-titulo-claro: #9538f2;
    --texto-titulo-escuro: #41038c;




    --sombra-clara: rgb(202, 150, 240);
    --sombra-escura: rgba(68, 8, 121, 0.237);
}



/* css geral */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--texto-claro);
    background-color: var(--fundo-escuro);
}


/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y:auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}


#header .perfil img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0 0 5px var(--sombra-clara);
}


#header .perfil h1{
    font-size: 24px;
    margin:25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: wheat;
}


/* redes sociais */


.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
   
}


.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: rgb(108, 78, 146);
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
   
}


a{
    text-decoration: none;
}


/* menu mobile */


.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}


.mobile-nav-active {
    overflow: hidden;
}


.mobile-nav-active #header {
    left: 0;
}
/* ajuste para o corpo de conteudo */


/* estrutura do site = corpo */
#main {
    margin-left: 300px;
}


.container {
    padding-left: 30px;
    padding-right: 30px;
}


/* menu responsivo */
@media (max-width: 1199px){
    #header {
        left: -300px;
    }


    #main {
        margin-left: 0;
    }


    .container{
        padding-left: 12px;
        padding-right: 12px;
    }


}


/* menu do header */
.nav-menu{
    padding: 30px 0 0;
}


.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}


.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
}


.nav-menu a,
.nav-menu:focus{
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}


.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}


.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-escuro);
}


.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--cor-detalhes);
}


/* hero */
#hero {
    width: 100%;
    height: 100vh;
    background: url(/img/fundo.jpg);/* colocar imagem */
    background-size: cover;
    position: relative;
}


#hero::before {
    content: " ";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(31, 9, 53, 0.5);
}


#hero .hero-container{
    z-index: 3;
    position: relative;
    min-width: 300px;
}


#hero h2{
    margin: 0;
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    color: #ebebeb;
}


#hero p{
    color: #ebebeb;
    margin-bottom: 50px;
    font-size: 26px;
}


#hero p span{
    color: #ab92ca;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 3px solid #a892ca;
}


@media (min-width: 1024px) {
    #hero{
        background-attachment: fixed;
    }
}


@media (max-width: 1024px)  {
    #hero{
        background-attachment: fixed;
    }
}


@media (max-width: 768px) {
    #hero h2{
        font-size: 90px;
        line-height: 1;
        margin-bottom: 45px;
    }


    #hero p{
        font-size:  28px;
    }
}


/* seções e titulos */
section {
    padding: 60px;
    overflow: hidden;
    background: #898fa6;
}


.section-bg{
    /* escuro */
    background: #250140;
     color: var(--texto-escuro);
}


/*estrutura do titulo*/
.section-title{
    padding-bottom: 30px;
}


.section-title h2{
    color: var(--texto-escuro);
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}


.section-title h2::after{
    content: "";
    position: absolute;
    background: #8348ef;
    width: 160px;
    height: 3px;
    display: block;
    bottom: 0;
    left: 0;
}


.section-title p{
    margin-bottom: 0;
}


/* sobre */


.sobre .content h3{
    color: #3f0149;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.sobre .content ul {
    list-style: none;
    padding: 0;
}


.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--fundo-escuro);
}


.sobre .content ul strong{
    margin-right: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--texto-escuro);
}


.sobre .content ul i {
    color: var(--texto-escuro);
    margin-right: 10px;
    font-size: 20px;
}

/* conquistas//vendas */

.conquistas .count-box{
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i{
    color: var(--fundo-menu-lateral);
    font-size: 44px;
    display: block;
    float: left;

    /* line-heigth: ; */
}

.conquistas .count-box span{
    font-size: 48px;
    color: var(--fundo-menu-lateral);
    display: block;
    line-height: 40px;
    font-weight: 700;
    margin-left: 60px;
}

.conquistas .count-box p{
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    color: #583576;
}

.conquistas .count-box strong{
    font-weight: 800;
}

.conquistas .count-box i:hover, .conquistas .count-box span:hover{
    color: var(--fundo-claro);
    transition: ease-in-out .5s;
}

/* vendas // skills = habilidades */ 

.skills .progress{
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill{
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    color: #6726b2;
    font-weight: 800;
    font-size: 16px;
}

.skills .progress .skill .val{
    font-style: normal;
    float: right;
}

.skills .progress-bar-bg{
    background: #52009f;
    height: 10px;
}

.skills .progress-bar{
    height: 10px;
    background: #17005c;
    transition: 5s;
    width: 1px;
}

/* portfolio // vendas // Catalogo */
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-filters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: var(--fundo-claro);
    border-radius: 5px;
    padding: 2px 15px;
}

.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: var(--texto-menu);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
    color: var(--fundo-menu-lateral);
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* inset: 0;  resume valor=0 => TOP, RIGHT, Bottom, LEFT */
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--texto-escuro);
    font-size: 28px;
    text-align: center;
    background: var(--fundo-claro);
    transition: 0.3s;
    width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--fundo-escuro);
    color: var(--detalhes-icones);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 2px solid var(--fundo-menu-lateral);
}

.portfolio .portfolio-wrap:hover::before {
    inset: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
}

/* --------------
#services 
------------- */

.services .icon-box {
    margin-bottom: 20px;
}
.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: var(--fundo-claro);
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid var(--detalhes-icones);
    box-shadow: 0 0 5px 0 whitesmoke;
}
.services .icon i {
    font-size: 22px;
    color: var(--texto-menu);
    line-height: 0;
}
.services .icon:hover {
    background: var(--texto-menu);
    transition: 0.3s;
}
.services .icon:hover i {
    color: var(--texto-claro);
}
.services .title {
    margin-left: 60px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: var(--detalhes-escuro);
}
.services .descricao {
    margin-left: 60px;
    line-height: 20px;
    font-size: 18px;
}

/* ---------
# Contato // Forms 
---------- */
.contato {
    padding-bottom: 130px;
}
.contato .info {
    padding: 30px;
    background: var(--fundo-claro);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
}
.contato .info i {
    font-size: 22px;
    color: var(--texto-claro);
    background: var(--texto-menu);
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.contato .info h4 {
    color: var(--texto-menu);
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contato .info p {
    color: var(--fundo-menu-lateral);
    font-size: 16px;
    padding: 0 0 10px 60px;
    margin-bottom: 30px;
}
.contato .info .fone p:hover {
    color: rgb(89, 0, 255);
}

/* ------- 
# Forms 
---------- */
.contato .email-form {
    padding: 30px;
    background: var(--fundo-claro);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
}
.contato .email-form .form-group {
    padding-bottom: 15px;
}
.contato .email-form label {
    color: var(--texto-menu);
    margin-bottom: 2px;
    font-size: 18px;
}
.contato .email-form input,
.contato .email-form textarea {
    /* border-radius: 0; */
    box-shadow: none; /*remover sombra*/
    font-size: 16px;
}
.contato .email-form input {
    height: 40px;
}
.contato .email-form textarea {
    padding: 10px 15px;
}
.contato .email-form button[type=submit] {
    background: var(--aspas);
    color: var(--fundo-menu-lateral);
    border: 0;
    border-radius: 4px;
    padding: 10px 24px;
    /* width: 70px;
    height: 30px; */
    /* font-size: 18px; */
    transition: 0.4s;
}
.contato .email-form button[type=submit]:hover {
    background: var(--fundo-escuro);
}

/* -----------------
 # back-to-top // Voltar ao TOPO 
 ----------------------  */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background: var(--texto-titulo);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}
.back-to-top i {
    color: var(--texto-menu);
    font-size: 30px;
    line-height: 0;
}
.back-to-top:hover{
    background: var(--texto-claro);
}
.back-to-top i:hover {
    color: var(--detalhes-icones);
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* ------------
# Footer 
----------------- */
#footer {
    padding: 30px;
    background: var(--fundo-menu-lateral);
    color: var(--aspas);
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
}
#footer .copyright {
    text-align: center;
}
#footer .creditos {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: var(--aspas);
}
#footer .creditos a {
    color: var(--detalhes-escuro);
}
@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}